.mb-15 {
  margin-bottom: 15px;
}

.mr-15 {
  margin-right: 15px;
}

table {
  border-collapse: collapse;

  .text {
    word-break: break-word;
  }

  td {
    border: 1px solid black;
    padding-left: 5px;
  }

  td.cookie_count {
    text-align: right;
  }
}

.main-content {
  font-size: 0px;

  .left-sidebar,
  .main-list {
    display: inline-block;
    padding: 0 15px;
    vertical-align: top;
  }

  .left-sidebar {
    width: 250px;
  }

  .cookie-block {
    padding: 0 15px;
  }

  .main-list {
    width: calc(100% - 250px);
  }

  .domain-list {
    tbody {
      tr {
        &:hover {
          background: rgba(153, 153, 153, 0.2);
        }
        &.selected {
          background: rgba(153, 153, 153, 0.8);
          td {
            &.item-name {
              &::before {
                content: "=> ";
                font-size: 16px;
                font-weight: 900;
              }
            }
          }
        }
      }
    }
  }

  .main-list,
  .domain-list {
    table {
      width: 100%;
    }
  }
}

.input-block {
  display: inline-block;

  .input-group {
    .input-group-prepend {
      input {
        border-radius: 3px 0 0 3px;
      }
    }

    .input-group-text {
      border-radius: 0 3px 3px 0;
    }
  }
}